<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro para receber um orçamento - Clique no modelo:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-card-content>
    
    <ion-input label="Nome: " placeholder="nome"></ion-input>
    <ion-input label="Email: " type="email" placeholder="email@domain.com"></ion-input>
    <ion-button class="button1" href="/tabs/tab3">Enviar</ion-button>
    <ion-button class="button1" href="/tabs/tab1">Incio</ion-button>
    <ion-list>
      <ion-avatar slot="start"><ion-img src="assets/foto1.jpg"></ion-img></ion-avatar>
      <ion-avatar slot="start"><ion-img src="assets/foto2.jpg"></ion-img></ion-avatar>
      <ion-avatar slot="start"><ion-img src="assets/foto3.jpg"></ion-img></ion-avatar>
      <ion-avatar slot="start"><ion-img src="assets/foto4.jpg"></ion-img></ion-avatar>
    </ion-list>
  </ion-card-content>

</ion-content>
