ion-title{
    color:#4FB253
}

ion-label{
    color:#4FB253
}

ion-button{
    --background: #4FB253;  
    --color: rgb(14, 14, 14);  
    --border-radius: 12px;
   
}
ion-list{
    --background: #4FB253;  
    --color: rgb(14, 14, 14);  
    --border-radius: 12px;
}

  