<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Cadastro para receber um orçamento - Clique no modelo:
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card-content>
    <ion-item *ngFor="let service of services; trackBy: getServices">
      <ion-list>
        <ion-text>
          {{service.name}} (a partir de R$ {{service.value}})
        </ion-text>
        <ion-button (click)="requestBudget(service)">Solicitar orçamento</ion-button>
        <ion-avatar>
          <ion-img src="assets/foto1.jpg"></ion-img>
        </ion-avatar>
      </ion-list>
    </ion-item>
  </ion-card-content>

  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Orçamento<br />{{servicoSelecionado.name}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Qual o seu nome para contato?"
            labelPlacement="stacked"
            type="text"
            placeholder="Fulano da Silva Sauro"
            [(ngModel)]="nomeContato"
          ></ion-input>
          
        </ion-item>
        <ion-item>
          <ion-input
            label="E seu e-mail?"
            labelPlacement="stacked"
            type="email"
            placeholder="fulano@exemplo.naoexistonemexistirei"
            [(ngModel)]="emailContato"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>