<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Cadastro para receber um orçamento - Clique no modelo:
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card-content>

    <ion-button class="button1" href="/tabs/tabInicio">Incio</ion-button>
    <ion-button>Cadastrar</ion-button>



    <ion-list>
      <ion-item>
        <ion-label name="name" position="floating">Nome:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <ion-card-content>
    <ion-item *ngFor="let service of services">
      <ion-list>
        <ion-checkbox slot="end">{{service.name}} (R$ {{service.value}})</ion-checkbox>
        <ion-avatar slot="start"><ion-img src="assets/foto1.jpg"></ion-img>
        </ion-avatar>
      </ion-list>
    </ion-item>
  </ion-card-content>

</ion-content>