<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Solicitações de Oçamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  EM CONSTRUÇÃO

  <!-- <ion-card-content>
    <ion-item *ngFor="let solicitacao of solicitacoes; trackBy: getServices">
      <ion-list>
        <ion-text>
          {{solicitacao.name}} (em {{solicitacao.when}})
        </ion-text>
        <ion-text>
          Produto: {{solicitacao.produto}}
        </ion-text>
        <ion-text>
          Pedido: {{solicitacao.description}}
        </ion-text>
      </ion-list>
    </ion-item>
  </ion-card-content> -->
</ion-content>
