<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabInicio" href="/tabsRouter/tabInicio">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCadastro" href="/tabsRouter/tabCadastro">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabContatosRecebidos" href="/tabsRouter/tabContatosRecebidos">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Solicitações Orçamento</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
